.baby-dashboard {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  
  .baby-details {
    border: 0 solid transparent;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .middle-section, .lower-section {
    display: flex;
    justify-content: space-between;
  }
  
  .milestones, .health-records, .growth-records, .placeholder {
    flex-basis: calc(50% - 10px);
    border: 1px solid black;
    padding: 20px;
  }
  
  .health-records, .placeholder {
    margin-right: 0;
  }
  
  .new-milestone, .new-health-record, .new-growth-record, .growth-predictor-button {
    display: block;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
}
  
  .back-to-dashboard {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    padding: 10px 0;
  }
  
  .dashboard-button {
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
  }