  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  .login-box {
    border: 1px solid black;
    padding: 20px;
    border-radius: 8px;
  }
  
  .login-title {
    text-align: center;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  .login-input {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
  }
  
  .login-button, .signup-button {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
  }
  
  .signup-button {
    display: block;
    width: 100%;
  }
  
  .login-or {
    text-align: center;
  }
  